<div data-ng-show="receivedInvitations && receivedInvitations.length">
    <h2>Invitations</h2>
    <div class="row">
        <h3>Received Invitations</h3>
        <div data-ng-repeat="receivedInvitation in receivedInvitations">
            Inviter: {{receivedInvitation.inviter}}
            <br>
            Chore Group Name: {{receivedInvitation.choreGroupName}}
            <br>
            Sent: {{receivedInvitation.lastUpdated}}
            <hr>
            <div class="btn btn-primary" data-ng-click="acceptInvitation(receivedInvitation.inviteId)">Accept Invite</div>
            <div class="btn btn-danger" data-ng-click="rejectInvitation(receivedInvitation.inviteId)">Decline Invite</div>
        </div>
    </div>
</div>
<h2>My Chore Groups</h2>

<div id="chore-group-accordions">
    <div data-ng-repeat="choreGroup in choreGroups" class="chore-group-accordion-wrapper">
        <div class="chore-group-heading-wrapper" data-ng-click="choreGroup.open = !choreGroup.open">
            <div class="chore-group-heading">
                {{choreGroup.choreGroupName}}
            </div>
            <span data-ng-if="choreGroup.open" class="glyphicon glyphicon-chevron-up chore-group-heading-icon"></span>
            <span data-ng-if="!choreGroup.open" class="glyphicon glyphicon-chevron-down chore-group-heading-icon"></span>
        </div>
        <hr data-ng-if="choreGroup.open">
        <div data-ng-show="choreGroup.open" class="animate-show chore-group-body">
            <form data-ng-submit="sendInvitation(choreGroup)">
                <span>Invite user to group: </span>
                <input type="email" data-ng-model="choreGroup.recipientEmail" placeholder="Recipient email..." required>
            </form>
        </div>
    </div>
    <div class="chore-group-accordion-wrapper">
        <div class="chore-group-heading-wrapper" data-ng-click="creatingChoreGroup = !creatingChoreGroup">
            <div class="chore-group-heading">
                Create New Chore Group
            </div>
            <span data-ng-if="!creatingChoreGroup" class="glyphicon glyphicon-plus-sign chore-group-heading-icon"></span>
            <span data-ng-if="creatingChoreGroup" class="glyphicon glyphicon-minus-sign chore-group-heading-icon"></span>
        </div>
        <hr data-ng-if="creatingChoreGroup">
        <div data-ng-show="creatingChoreGroup" class="animate-show chore-group-body">
            <div id="creating-chore-group-wrapper">
                <form data-ng-submit="createNewChoreGroup()">
                    <span>Chore Group Name: </span>
                    <input type="text" data-ng-model="newChoreGroupName" required>
                </form>
            </div>
        </div>
    </div>
</div>
