<div data-ng-show="hasNotifications()" class="panel  panel-primary">    
    <div class="panel-heading"><h3>Notifications</h3></div>
    <div class="panel-body">
        <div class="row notification-wrapper animate-show" data-ng-repeat="receivedInvitation in userServiceData.receivedInvitations">
            <div class="col-md-8 col-xs-12">
                You have been invited to join {{receivedInvitation.invitedBy.screenName ? receivedInvitation.invitedBy.screenName : receivedInvitation.invitedBy.email}}'s group: <strong>{{receivedInvitation.choreGroup.choreGroupName}}</strong>
            </div>            
            <div class="col-md-2 col-xs-6"><div class="btn btn-primary" data-ng-click="acceptInvitation(receivedInvitation)">Accept Invite</div></div>
            <div class="col-md-2 col-xs-6"><div class="btn btn-danger" data-ng-click="declineInvitation(receivedInvitation)">Decline Invite</div></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>To-Do List</h3></div>
            <div class="panel-body">
                <div id="task-list" data-ng-if="taskList && taskList.length > 0">
                    <div data-ng-repeat="task in taskList">            
                        task!
                    </div>
                </div>
                <div id="no-task-list" data-ng-if="!taskList || taskList.length <= 0">
                    No outstanding tasks!
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Summary</h3></div>
            <div class="panel-body">
                Here's a summary of whatever you want.
            </div>
        </div>
    </div>
</div>
