<div id="account-forms" class="row">    
    <form name="newUserForm" class="col-md-5 col-xs-5" id="new-user-form" data-ng-submit="submitNewUser()" autocomplete="off">
        <div class="row-bg">
            <h1>New User</h1>
        </div>
        <input type="email" class="form-control" data-ng-model="newEmailText" placeholder="Email..." required>
        <br>
        <input type="password" class="form-control" name="newPassword" data-ng-model="newPasswordText" placeholder="Password..." required>
        <br>
        <input type="password" class="form-control" name="newPasswordVerify" data-ng-model="newPasswordVerifyText" placeholder="Verify Password" required>
        <br>
        <div data-ng-if="newErrorMessage" class="alert alert-danger">Error creating new user: {{newErrorMessage}}</div>
        <button class="btn btn-default" type="submit">Create Account</button>
    </form>
    <form id="existing-user-form" class="col-md-offset-2 col-md-5 col-xs-offset-2 col-xs-5" data-ng-submit="submitLogin()">
        <div class="row-bg">
            <h1>Existing User</h1>
        </div>
        <input type="email" class="form-control" data-ng-model="emailText" placeholder="Email..." required>
        <br>
        <input type="password" class="form-control" data-ng-model="passwordText" placeholder="Password..." required>
        <br>
        <div data-ng-if="errorMessage" class="alert alert-danger">Error logging in: {{errorMessage}}</div>
        <button class="btn btn-default" type="submit">Log In</button>
    </form>
</div>
