#account-forms {
    margin-top: 200px;
}

.row-bg {
    width: 100%;
    background-color: #31353D;
}

.row-bg h1, .row-bg h2, .row-bg h3, .row-bg h4, .row-bg h5, .row-bg h6 {
    color: #EEEFF7;
}



#navbar {
    padding-left: 10%;
    padding-right: 10%;
    background-color: cornsilk;
}

#navbar-logo {
    float: left;
    font-size: 23pt;
    font-weight: 200;
}

.animate-show {
  line-height:20px;
  opacity:1;
  padding:10px;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.animate-show.ng-hide {
  line-height:0;
  opacity:0;
  padding:0 10px;
}

.chore-group-accordion-wrapper {
    border: 1px solid #445878;
    border-radius: 28px;
    margin: 15px;
}

.chore-group-heading-wrapper {
    font-size: 24pt;
    text-align: left;
    padding-left:18px;
    padding-right:18px;
    cursor: pointer;
}

.chore-group-heading {
    display: inline-block;
}

.chore-group-heading-icon {
    margin-top: 6px;
    float: right;
}

hr {
    border-top: 1px solid #445878;
    margin-top: 4px;
    margin-bottom: 4px
}

.editable:hover {
   cursor: url(http://cur.cursors-4u.net/others/oth-7/oth697.cur), progress !important;
}

.glyphicon-inline {
    margin-left: 3px;
    margin-right: 3px;
}

.alert {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
}

.btn-group-vertical {
    width: 100%;    
}

#delete-chore-group-btn-wrapper {
    text-align: center;
}

#create-group-btn {
    width: 100%;
}